body {
  font-family: "Noto Sans", sans-serif;
  background-color: #1E1E1E;
  color: #FFFFFF;
}

header {
  width: 100%;
  height: 70px;
  background-color: #0085ff;
}

nav {
  position: relative;
  width: 100%;
  padding: 16px 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
nav p {
  font-size: 2.4rem;
}
nav .mobile-menu {
  position: absolute;
  width: 60%;
  min-width: 220px;
  max-width: 300px;
  padding: 0 24px;
  height: 300px;
  right: 0;
  top: 70px;
  background-color: #69b4ff;
  border-radius: 0 0 0 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}
nav .mobile-menu a {
  font-size: 2rem;
}
nav .mobile-menu a:hover {
  text-decoration: underline;
  font-weight: 700;
}

main {
  width: 100%;
}
main .section-item {
  width: 100%;
  max-width: 1300px;
  padding: 0 16px;
}

#Home h1 {
  margin: 24px 0;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
}
#Home .calculators-container {
  width: 100%;
  padding-bottom: 48px;
  display: -ms-grid;
  display: grid;
  gap: 36px;
}
#Home .calculators-container .calculator--item {
  background-color: #2d2d2d;
  padding: 24px 24px 0;
}
#Home .calculators-container .calculator--item figure {
  background-color: #454545;
  width: 100%;
  height: auto;
  padding: 32px;
}
#Home .calculators-container .calculator--item figure img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
#Home .calculators-container .calculator--item article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 4px;
}
#Home .calculators-container .calculator--item article h4 {
  font-size: 2rem;
  font-weight: 500;
}
#Home .calculators-container .calculator--item article .section-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 104px;
  height: 40px;
  font-size: 1.8rem;
  background-color: #69b4ff;
  color: #FFFFFF;
  border-radius: 12px;
  border: 2px solid #69b4ff;
}
#Home .calculators-container .calculator--item article .section-link:hover {
  background-color: #454545;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
#Home .calculators-container .calculator--item article .section-link:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}