.inactive {
    display: none !important;
}
.error {
    color: red;
}
.correct {
    color: #8B5FBF;
}
.arrow {
    width: 20px;
    height: 20px;
}

.is-up {
    transform: rotate(180deg);
    transition: transform .3s;
}
.is-down {
    transform: rotate(0deg);
    transition: transform .3s;
}